@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BeFit</h1>
    <p>Twoja aplikacja do monitorowania swoich treningów</p>
</div>